<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>Urara迷路帖</title> 
 </head> 
 <body> 
  <h1>Urara迷路帖</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>Urara迷路帖</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月5日</li> 
  <li><span class="tip">放送星期: </span>星期四</li> 
  <li><span class="tip">原作: </span><a href="/person/22372" class="l" title="">はりかも</a></li> 
  <li><span class="tip">导演: </span><a href="/person/960" class="l" title="铃木洋平" rel="v:directedBy">鈴木洋平</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/3704" class="l" title="铃木洋平">三重野瞳</a>、<a href="/person/3761" class="l" title="铃木洋平">福田裕子</a>、<a href="/person/9242" class="l" title="清水惠">清水恵</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/960" class="l" title="铃木洋平">鈴木洋平</a>、<a href="/person/136" class="l" title="铃木行">鈴木行</a>、<a href="/person/11397" class="l" title="细川秀树">細川秀樹</a>、<a href="/person/150" class="l" title="细川秀树">岩崎良明</a>、<a href="/person/1131" class="l" title="湖山祯崇">湖山禎崇</a>、<a href="/person/2512" class="l" title="福岛利规">福島利規</a></li> 
  <li><span class="tip">演出: </span><a href="/person/960" class="l" title="铃木洋平">鈴木洋平</a>、<a href="/person/11324" class="l" title="铃木洋平">奥野浩行</a>、<a href="/person/26581" class="l" title="铃木洋平">三平</a>、<a href="/person/2512" class="l" title="福岛利规">福島利規</a>、<a href="/person/1131" class="l" title="湖山祯崇">湖山禎崇</a>、<a href="/person/1848" class="l" title="湖山祯崇">西田健一</a>、<a href="/person/26568" class="l" title="湖山祯崇">清水一伸</a>、<a href="/person/19176" class="l" title="梶井濑贺">梶井瀬賀</a>、<a href="/person/25386" class="l" title="本间修">本間修</a>、<a href="/person/11955" class="l" title="本间修">小野田雄亮</a>、<a href="/person/26963" class="l" title="森川沙耶香">森川さやか</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/28684" class="l" title="">田渕夏海</a>、<a href="/person/28212" class="l" title="森川沙耶香">中村巴奈重</a>、<a href="/person/28214" class="l" title="宝野聪史">宝野聡史</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/2901" class="l" title="大冢舞">大塚舞</a></li> 
  <li><span class="tip">系列构成: </span>赤尾でこ(<a href="/person/3704" class="l" title="大冢舞">三重野瞳</a>)</li> 
  <li><span class="tip">美术监督: </span><a href="/person/26279" class="l" title="">奥村泰浩</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/940" class="l" title="石田美由纪">石田美由紀</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/2901" class="l" title="大冢舞">大塚舞</a>、<a href="/person/13072" class="l" title="">谷口元浩</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/11706" class="l" title="饭饲一幸">飯飼一幸</a>、<a href="/person/26890" class="l" title="鸟山冬美">鳥山冬美</a>、<a href="/person/25438" class="l" title="高桥美香">高橋みか</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/281" class="l" title="高桥美香">大河内喜夫</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/13072" class="l" title="">谷口元浩</a></li> 
  <li><span class="tip">原画: </span><a href="/person/14746" class="l" title="樱井亲良">櫻井親良</a>、<a href="/person/12230" class="l" title="">吉田亘良</a>、<a href="/person/10771" class="l" title="齐田博之">齊田博之</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/12000" class="l" title="后藤正浩">後藤正浩</a></li> 
  <li><span class="tip">主题歌演出: </span>らびりんず(<a href="/person/24793" class="l" title="原田彩枫">原田彩楓</a>、<a href="/person/19560" class="l" title="本渡枫">本渡楓</a>、<a href="/person/9270" class="l" title="久保百合花">久保ユリカ</a>、<a href="/person/13199" class="l" title="佳村遥">佳村はるか</a>) / <a href="/person/23047" class="l" title="">Luce Twinkle Wink☆</a></li> 
  <li><span class="tip">企画: </span>源生哲雄、<a href="/person/12292" class="l" title="">田中信作</a>、孝壽尚志、<a href="/person/1355" class="l" title="阿部伦久">阿部倫久</a>、<a href="/person/12018" class="l" title="">小田ツヨシ</a>、後藤俊文; 企画協力: <a href="/person/26278" class="l" title="小仓充俊">小倉充俊</a>、中込理子、遠藤哲哉</li> 
  <li><span class="tip">製作: </span>うらら迷路帖製作委員会（<a href="/person/3750" class="l" title="NBC环球娱乐">NBCユニバーサル</a>・エンターテイメントジャパン、<a href="/person/6006" class="l" title="NBC环球娱乐">芳文社</a>、<a href="/person/390" class="l" title="">J.C.STAFF</a>、ストロンガー、<a href="/person/3397" class="l" title="">日音</a>）、<a href="/person/27" class="l" title="">TBS</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/501" class="l" title="">本山哲</a></li> 
  <li><span class="tip">音响: </span><a href="/person/2370" class="l" title="">マジックカプセル</a></li> 
  <li><span class="tip">制片人: </span><a href="/person/3692" class="l" title="田中润一朗">田中潤一朗</a>、福良啓、<a href="/person/3691" class="l" title="田中润一朗">小林宏之</a>、<a href="/person/2654" class="l" title="松仓友二">松倉友二</a>、山﨑日郎、中目孝昭</li> 
  <li><span class="tip">音乐制作: </span><a href="/person/3397" class="l" title="松仓友二">日音</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/390" class="l" title="">J.C.STAFF</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/26279" class="l" title="">奥村泰浩</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/960" class="l" title="铃木洋平">鈴木洋平</a>、<a href="/person/150" class="l" title="">岩崎良明</a></li> 
  <li><span class="tip">官方网站: </span>http://www.tbs.co.jp/anime/urara/</li> 
  <li><span class="tip">播放电视台: </span>TBS</li> 
  <li><span class="tip">其他电视台: </span>CBC / サンテレビ / BS-TBS</li> 
  <li><span class="tip">播放结束: </span>2017年3月23日</li> 
  <li><span class="tip">Copyright: </span>&copy;はりかも・芳文社/うらら迷路帖製作委員会</li> 
  <li><span class="tip">动画制作人: </span>藤代敦士</li> 
  <li><span class="tip">助理制片人: </span>浅水歩</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>