<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>风夏</title> 
 </head> 
 <body> 
  <h1>风夏</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>风夏</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月6日</li> 
  <li><span class="tip">放送星期: </span>星期五</li> 
  <li><span class="tip">原作: </span><a href="/person/7031" class="l" title="濑尾公治">瀬尾公治</a></li> 
  <li><span class="tip">导演: </span><a href="/person/2913" class="l" title="草川启造" rel="v:directedBy">草川啓造</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/17680" class="l" title="">朱白あおい</a>、<a href="/person/922" class="l" title="">待田堂子</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/1983" class="l" title="稻垣隆行">稲垣隆行</a>、<a href="/person/12591" class="l" title="稻垣隆行">玉木慎吾</a>、<a href="/person/24794" class="l" title="稻垣隆行">井畑翔太</a>、<a href="/person/19158" class="l" title="水本叶月">水本葉月</a>、<a href="/person/25595" class="l" title="寻田耕辅">尋田耕輔</a>、<a href="/person/311" class="l" title="寻田耕辅">福富博</a>、<a href="/person/2913" class="l" title="草川启造">草川啓造</a>、<a href="/person/1373" class="l" title="渡边哲哉">渡邊哲哉</a>、<a href="/person/26043" class="l" title="渡边哲哉">山田浩之</a>、<a href="/person/26576" class="l" title="渡边哲哉">久慈悟郎</a>、<a href="/person/26577" class="l" title="蝴蝶兰扬羽">胡蝶蘭あげは</a>、<a href="/person/26578" class="l" title="蝴蝶兰扬羽">大町生</a>、<a href="/person/3137" class="l" title="日色如夏">ひいろゆきな</a></li> 
  <li><span class="tip">演出: </span><a href="/person/24794" class="l" title="日色如夏">井畑翔太</a>、<a href="/person/20846" class="l" title="安藤贵史">安藤貴史</a>、<a href="/person/19158" class="l" title="水本叶月">水本葉月</a>、<a href="/person/26476" class="l" title="水本叶月">村上勉</a>、<a href="/person/25595" class="l" title="寻田耕辅">尋田耕輔</a>、<a href="/person/26576" class="l" title="寻田耕辅">久慈悟郎</a>、<a href="/person/26577" class="l" title="蝴蝶兰扬羽">胡蝶蘭あげは</a>、<a href="/person/26579" class="l" title="小野步">小野歩</a>、<a href="/person/3137" class="l" title="日色如夏">ひいろゆきな</a>、<a href="/person/26773" class="l" title="日色如夏">左藤洋二</a>、<a href="/person/2913" class="l" title="草川启造">草川啓造</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/17509" class="l" title="">伊賀拓郎</a>、<a href="/person/16246" class="l" title="">WEST GROUND</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/22696" class="l" title="">本多美乃</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/17680" class="l" title="">朱白あおい</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/22696" class="l" title="">本多美乃</a>、<a href="/person/10189" class="l" title="">松本麻友子</a>、<a href="/person/9092" class="l" title="">井出直美</a>、<a href="/person/3383" class="l" title="">石川雅一</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/28259" class="l" title="饭冢叶子">飯塚葉子</a>、<a href="/person/14927" class="l" title="德田梦之介">徳田夢之介</a>、<a href="/person/11964" class="l" title="">小澤円</a>、<a href="/person/24794" class="l" title="">井畑翔太</a>、<a href="/person/1552" class="l" title="武内启">武内啓</a>、<a href="/person/14530" class="l" title="">徳永さやか</a>、<a href="/person/194" class="l" title="">南伸一郎</a>、<a href="/person/27023" class="l" title="">是本晶</a>、<a href="/person/13926" class="l" title="王国年">王國年</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/11723" class="l" title="">伊藤康行</a></li> 
  <li><span class="tip">背景美术: </span><a href="/person/21228" class="l" title="">スタジオちゅーりっぷ</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/11892" class="l" title="冈祐司">岡祐司</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/5824" class="l" title="沼仓爱美">沼倉愛美</a>、<a href="/person/4953" class="l" title="中岛爱">中島愛</a></li> 
  <li><span class="tip">插入歌演出: </span><a href="/person/4895" class="l" title="早见沙织">早見沙織</a>、<a href="/person/5824" class="l" title="沼仓爱美">沼倉愛美</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/477" class="l" title="沼仓爱美">明田川仁</a></li> 
  <li><span class="tip">音响: </span><a href="/person/2370" class="l" title="">マジックカプセル</a></li> 
  <li><span class="tip">制片人: </span><a href="/person/5774" class="l" title="">前田俊博</a></li> 
  <li><span class="tip">总制片: </span><a href="/person/5783" class="l" title="">丸山博雄</a>、<a href="/person/6755" class="l" title="川濑浩平">川瀬浩平</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/3440" class="l" title="flying DOG">フライングドッグ</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/7690" class="l" title="">diomed&eacute;a</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/11640" class="l" title="高桥麻穗">高橋麻穂</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/12591" class="l" title="高桥麻穗">玉木慎吾</a></li> 
  <li><span class="tip">官方网站: </span>http://fuuka.tv/</li> 
  <li><span class="tip">播放电视台: </span>WOWOWプライム</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX / MBS / BS11</li> 
  <li><span class="tip">播放结束: </span>2017年3月24日</li> 
  <li><span class="tip">Copyright: </span>&copy;瀬尾公治・講談社／「風夏」製作委員会</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>