<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>锁链战记～赫克瑟塔斯之光～</title> 
 </head> 
 <body> 
  <h1>锁链战记～赫克瑟塔斯之光～</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>锁链战记～赫克瑟塔斯之光～</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月7日</li> 
  <li><span class="tip">放送星期: </span>星期六</li> 
  <li><span class="tip">原作: </span><a href="/person/1541" class="l" title="世嘉">SEGA</a></li> 
  <li><span class="tip">导演: </span><a href="/person/2562" class="l" title="世嘉" rel="v:directedBy">工藤昌史</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/1723" class="l" title="世嘉">吉野弘幸</a>、<a href="/person/922" class="l" title="世嘉">待田堂子</a>、<a href="/person/26600" class="l" title="世嘉">大久保昌弘</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/1978" class="l" title="富泽信雄">富沢信雄</a>、<a href="/person/13462" class="l" title="富泽信雄">花井宏和</a>、<a href="/person/11984" class="l" title="富泽信雄">友田政晴</a>、<a href="/person/2696" class="l" title="细田直人">細田直人</a>、<a href="/person/2562" class="l" title="细田直人">工藤昌史</a>、<a href="/person/3476" class="l" title="细田直人">矢野雄一郎</a>、<a href="/person/1328" class="l" title="小寺胜之">小寺勝之</a>、<a href="/person/3086" class="l" title="小寺胜之">川口敬一郎</a>、<a href="/person/1092" class="l" title="小寺胜之">小坂春女</a></li> 
  <li><span class="tip">演出: </span><a href="/person/1978" class="l" title="富泽信雄">富沢信雄</a>、<a href="/person/3227" class="l" title="富泽信雄">原博</a>、<a href="/person/12251" class="l" title="富泽信雄">道解慎太郎</a>、<a href="/person/26687" class="l" title="石仓礼">石倉礼</a>、<a href="/person/26553" class="l" title="高田昌丰">高田昌豊</a>、<a href="/person/12913" class="l" title="高田昌丰">高村雄太</a>、<a href="/person/2562" class="l" title="高田昌丰">工藤昌史</a>、<a href="/person/16485" class="l" title="小柴纯弥">小柴純弥</a>、<a href="/person/26813" class="l" title="小柴纯弥">山田卓</a>、<a href="/person/1579" class="l" title="小柴纯弥">所俊克</a>、<a href="/person/19618" class="l" title="小柴纯弥">小山田桂子</a>、<a href="/person/3476" class="l" title="小柴纯弥">矢野雄一郎</a>、<a href="/person/26763" class="l" title="小柴纯弥">土屋康郎</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/11904" class="l" title="小柴纯弥">甲田雅人</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/2562" class="l" title="小柴纯弥">工藤昌史</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/922" class="l" title="小柴纯弥">待田堂子</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/27865" class="l" title="陈场大辅">陳場大輔</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/27179" class="l" title="菱沼祐树">菱沼祐樹</a>、<a href="/person/1063" class="l" title="菱沼祐树">高田洋一</a>、<a href="/person/12423" class="l" title="">小美野雅彦</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/1017" class="l" title="">荻原猛夫</a></li> 
  <li><span class="tip">原画: </span><a href="/person/1345" class="l" title="辻初树">辻初樹</a>、<a href="/person/12423" class="l" title="">小美野雅彦</a>、<a href="/person/14654" class="l" title="">杉谷光一</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/6745" class="l" title="秦昌二">はたしょう二</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/2118" class="l" title="">Telecom Animation Film</a>、<a href="/person/12436" class="l" title="">グラフィニカ</a></li> 
  <li><span class="tip">副导演: </span><a href="/person/13462" class="l" title="">花井宏和</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/28206" class="l" title="森鱼">森魚</a></li> 
  <li><span class="tip">官方网站: </span>http://chronicle-anime.com/</li> 
  <li><span class="tip">播放电视台: </span>ABC朝日放送</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX / AT-X / テレビ愛知 / BS11 / TVQ</li> 
  <li><span class="tip">播放结束: </span>2017年3月25日</li> 
  <li><span class="tip">Copyright: </span>&copy;SEGA/チェンクロ･フィルムパートナーズ</li> 
  <li><span class="tip">色彩设计: </span>大塚眞純</li> 
  <li><span class="tip">CG 导演: </span>篠原章郎</li> 
  <li><span class="tip">剪辑: </span>齋藤朱里</li> 
  <li><span class="tip">音响: </span>サウンドチーム・ドンファン</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>