<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>猫咪日常</title> 
 </head> 
 <body> 
  <h1>猫咪日常</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>猫咪日常</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月8日</li> 
  <li><span class="tip">放送星期: </span>星期日</li> 
  <li><span class="tip">原作: </span><a href="/person/25392" class="l" title="">たらばがに</a></li> 
  <li><span class="tip">导演: </span><a href="/person/2755" class="l" title="" rel="v:directedBy">平池芳正</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/2755" class="l" title="">平池芳正</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/2755" class="l" title="">平池芳正</a></li> 
  <li><span class="tip">演出: </span><a href="/person/2755" class="l" title="">平池芳正</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/73" class="l" title="大岛美和">大島美和</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/2755" class="l" title="大岛美和">平池芳正</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/1713" class="l" title="铃木依里">鈴木依里</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/275" class="l" title="铃木依里">小林利充</a>、<a href="/person/73" class="l" title="大岛美和">大島美和</a>、<a href="/person/27318" class="l" title="大岛美和">畠山佳苗</a>、<a href="/person/27407" class="l" title="佐藤绫子">佐藤綾子</a>、<a href="/person/23026" class="l" title="">内田シンヤ</a></li> 
  <li><span class="tip">原画: </span><a href="/person/27318" class="l" title="">畠山佳苗</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/11745" class="l" title="">坪根健太郎</a></li> 
  <li><span class="tip">主题歌编曲: </span><a href="/person/7205" class="l" title="">前山田健一</a></li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/7205" class="l" title="">前山田健一</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/7205" class="l" title="">前山田健一</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/18210" class="l" title="every♥ing！">every♥ing!</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/23001" class="l" title="every♥ing！">阿部信行</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/19639" class="l" title="EMT2">EMTスクエアード</a></li> 
  <li><span class="tip">别名: </span>喵咪days</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>猫咪days</li> 
  <li><span class="tip">官方网站: </span>http://nyanko-days.com</li> 
  <li><span class="tip">播放电视台: </span>TOYKO MX</li> 
  <li><span class="tip">其他电视台: </span>サンテレビ</li> 
  <li><span class="tip">播放结束: </span>2017年3月26日</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>