<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>宇宙警探elDLIVE</title> 
 </head> 
 <body> 
  <h1>宇宙警探elDLIVE</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>宇宙警探elDLIVE</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月8日</li> 
  <li><span class="tip">放送星期: </span>星期日</li> 
  <li><span class="tip">原作: </span><a href="/person/3268" class="l" title="">天野明</a></li> 
  <li><span class="tip">导演: </span><a href="/person/14223" class="l" title="" rel="v:directedBy">古田丈司</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/26803" class="l" title="加藤还一">加藤還一</a>、<a href="/person/3641" class="l" title="加藤还一">竹内利光</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/21284" class="l" title="加藤还一">大久保朋</a>、<a href="/person/14223" class="l" title="加藤还一">古田丈司</a>、<a href="/person/19155" class="l" title="加藤还一">田中智也</a>、<a href="/person/12912" class="l" title="黑川智之">黒川智之</a>、<a href="/person/14500" class="l" title="松本正幸">松本マサユキ</a>、<a href="/person/27968" class="l" title="金森阳子">金森陽子</a></li> 
  <li><span class="tip">演出: </span><a href="/person/26641" class="l" title="朝仓海斗">朝倉カイト</a>、<a href="/person/21284" class="l" title="朝仓海斗">大久保朋</a>、<a href="/person/19155" class="l" title="朝仓海斗">田中智也</a>、<a href="/person/14500" class="l" title="松本正幸">松本マサユキ</a>、<a href="/person/26544" class="l" title="铃木孝聪">鈴木孝聡</a>、<a href="/person/12912" class="l" title="黑川智之">黒川智之</a>、<a href="/person/26791" class="l" title="山本贵之">山本貴之</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/1120" class="l" title="山本贵之">高梨康治</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/2775" class="l" title="">HAN SEUNGAH</a>、<a href="/person/12615" class="l" title="">松井啓一郎</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/3641" class="l" title="">竹内利光</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/6772" class="l" title="田村盛挥">田村せいき</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/11747" class="l" title="垣田由纪子">垣田由紀子</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/2775" class="l" title="">HAN SEUNGAH</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/20027" class="l" title="">阿萬和俊</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/13974" class="l" title="">坂本久美子</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/2511" class="l" title="高寺雄">高寺たけし</a></li> 
  <li><span class="tip">音响: </span><a href="/person/13619" class="l" title="">HALF H・P STUDIO</a></li> 
  <li><span class="tip">音效: </span><a href="/person/28055" class="l" title="">八十正太</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/9405" class="l" title="德间日本通讯">徳間ジャパンコミュニケーションズ</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/320" class="l" title="皮乐">ぴえろ</a></li> 
  <li><span class="tip">CG 导演: </span><a href="/person/1172" class="l" title="宫原洋平">宮原洋平</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/2581" class="l" title="谷内优穗">谷内優穂</a></li> 
  <li><span class="tip">副导演: </span><a href="/person/19155" class="l" title="谷内优穗">田中智也</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/14223" class="l" title="谷内优穗">古田丈司</a>、<a href="/person/1354" class="l" title="谷内优穗">梅津泰臣</a></li> 
  <li><span class="tip">别名: </span>ēlDLIVE 宇宙警探</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>エルドライブelDLIVE</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>&eacute;lDLIVE</li> 
  <li><span class="tip">官方网站: </span>http://eldlive.tv/</li> 
  <li><span class="tip">播放电视台: </span>TOKYO MX</li> 
  <li><span class="tip">其他电视台: </span>福岡放送 / 読売テレビ / 札幌テレビ / BS11 / 中京テレビ</li> 
  <li><span class="tip">播放结束: </span>2017年3月26日</li> 
  <li><span class="tip">Copyright: </span>&copy;天野明/集英社・エルドライブ製作委員会2017</li> 
  <li><span class="tip">摄影监督: </span>長田雄一郎</li> 
  <li><span class="tip">GUI设计: </span>関香織</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>