<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>ACCA13区监察课</title> 
 </head> 
 <body> 
  <h1>ACCA13区监察课</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>ACCA13区监察课</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月10日</li> 
  <li><span class="tip">放送星期: </span>星期二</li> 
  <li><span class="tip">原作: </span><a href="/person/3734" class="l" title="小野夏芽">オノ・ナツメ</a></li> 
  <li><span class="tip">导演: </span><a href="/person/11568" class="l" title="小野夏芽" rel="v:directedBy">夏目真悟</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/17972" class="l" title="铃木智寻">鈴木智尋</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/12515" class="l" title="小岛庆祐">小嶋慶祐</a>、<a href="/person/804" class="l" title="小岛庆祐">川尻善昭</a>、<a href="/person/20810" class="l" title="小岛庆祐">八田洋介</a>、<a href="/person/11568" class="l" title="小岛庆祐">夏目真悟</a>、<a href="/person/12586" class="l" title="小岛庆祐">若林信</a></li> 
  <li><span class="tip">演出: </span><a href="/person/12515" class="l" title="小岛庆祐">小嶋慶祐</a>、<a href="/person/26689" class="l" title="小岛庆祐">吉川志我津</a>、<a href="/person/16021" class="l" title="小岛庆祐">武藤信宏</a>、<a href="/person/20810" class="l" title="小岛庆祐">八田洋介</a>、<a href="/person/11568" class="l" title="小岛庆祐">夏目真悟</a>、<a href="/person/12586" class="l" title="小岛庆祐">若林信</a>、<a href="/person/3246" class="l" title="小岛庆祐">葛谷直行</a>、<a href="/person/19376" class="l" title="小岛庆祐">重原克也</a></li> 
  <li><span class="tip">音乐: </span>高橋諒 (<a href="/person/8799" class="l" title="">Maurits&quot;禅&quot;Cornelis</a>)</li> 
  <li><span class="tip">人物设定: </span><a href="/person/19329" class="l" title="久贝典史">久貝典史</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/17972" class="l" title="铃木智寻">鈴木智尋</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/25629" class="l" title="吉冈诚子">吉岡誠子</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/2073" class="l" title="桥本贤">橋本賢</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/13447" class="l" title="小田刚生">小田剛生</a>・<a href="/person/14510" class="l" title="">吉田奏子</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/12515" class="l" title="小岛庆祐">小嶋慶祐</a>、<a href="/person/19329" class="l" title="久贝典史">久貝典史</a>、<a href="/person/3251" class="l" title="久贝典史">原田峰文</a>、<a href="/person/21190" class="l" title="久贝典史">熊田明子</a>、<a href="/person/28275" class="l" title="长坂庆太">長坂慶太</a>、<a href="/person/19513" class="l" title="榎户骏">榎戸駿</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/25630" class="l" title="">伏原あかね</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/21368" class="l" title="五十岚海">五十嵐海</a></li> 
  <li><span class="tip">原画: </span><a href="/person/3205" class="l" title="五十岚海">佐藤利幸</a>、<a href="/person/12515" class="l" title="小岛庆祐">小嶋慶祐</a>、<a href="/person/12582" class="l" title="泽田英彦">澤田英彦</a>、<a href="/person/14510" class="l" title="">吉田奏子</a>、<a href="/person/14677" class="l" title="">篠田知宏</a>、<a href="/person/19329" class="l" title="久贝典史">久貝典史</a>、<a href="/person/13447" class="l" title="小田刚生">小田剛生</a>、<a href="/person/19595" class="l" title="">小笠原真</a>、<a href="/person/19513" class="l" title="榎户骏">榎戸駿</a>、<a href="/person/12586" class="l" title="榎户骏">若林信</a>、<a href="/person/26527" class="l" title="榎户骏">村上泉</a>、<a href="/person/13926" class="l" title="王国年">王國年</a>、<a href="/person/28275" class="l" title="长坂庆太">長坂慶太</a>、<a href="/person/11607" class="l" title="">阿蒜晃士</a></li> 
  <li><span class="tip">背景美术: </span><a href="/person/18582" class="l" title="">studio Pablo</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/11716" class="l" title="">木村佳史子</a></li> 
  <li><span class="tip">主题歌编曲: </span><a href="/person/8799" class="l" title="">Maurits&quot;禅&quot;Cornelis</a></li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/8799" class="l" title="">Maurits&quot;禅&quot;Cornelis</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/5873" class="l" title="结城爱良">結城アイラ</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/5873" class="l" title="结城爱良">結城アイラ</a></li> 
  <li><span class="tip">製作: </span>ACCA製作委員会 (<a href="/person/56" class="l" title="BANDAI VISUAL">バンダイビジュアル</a> / <a href="/person/722" class="l" title="">NAS</a> / <a href="/person/57" class="l" title="Lantis">ランティス</a> / <a href="/person/497" class="l" title="史克威尔&middot;艾尼克斯">スクウェア・エニックス</a> / BS11 / <a href="/person/603" class="l" title="">MADHOUSE</a> / <a href="/person/1491" class="l" title="索尼PCL">ソニーPCL</a> / <a href="/person/7587" class="l" title="万普">BANPRESTO</a> / コンテンツシード / メディコス・エンタテインメント)</li> 
  <li><span class="tip">音响监督: </span><a href="/person/6745" class="l" title="秦昌二">はたしょう二</a></li> 
  <li><span class="tip">音效: </span><a href="/person/12381" class="l" title="">出雲範子</a></li> 
  <li><span class="tip">特效: </span><a href="/person/25630" class="l" title="">伏原あかね</a></li> 
  <li><span class="tip">制作助手: </span><a href="/person/11389" class="l" title="">D.R MOVIE</a>、<a href="/person/541" class="l" title="">GONZO</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/57" class="l" title="Lantis">ランティス</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/603" class="l" title="">MADHOUSE</a></li> 
  <li><span class="tip">CG 导演: </span><a href="/person/26106" class="l" title="薮田修平">籔田修平</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/11568" class="l" title="薮田修平">夏目真悟</a> / <a href="/person/26527" class="l" title="薮田修平">村上泉</a></li> 
  <li><span class="tip">官方网站: </span>http://acca-anime.com/</li> 
  <li><span class="tip">播放电视台: </span>TOKYO MX</li> 
  <li><span class="tip">其他电视台: </span>サンテレビ / KBS京都 / テレビせとうち / BS11 / AT-X</li> 
  <li><span class="tip">播放结束: </span>2017年3月28日</li> 
  <li><span class="tip">Copyright: </span>&copy;オノ・ナツメ/SQUARE ENIX・ACCA製作委員会</li> 
  <li><span class="tip">服装设计: </span>榎戸駿</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>