<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>动物朋友</title> 
 </head> 
 <body> 
  <h1>动物朋友</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>动物朋友</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月10日</li> 
  <li><span class="tip">放送星期: </span>星期二</li> 
  <li><span class="tip">导演: </span><a href="/person/26629" class="l" title="" rel="v:directedBy">たつき</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/26628" class="l" title="田边茂范">田辺茂範</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/26629" class="l" title="">たつき</a></li> 
  <li><span class="tip">演出: </span><a href="/person/26629" class="l" title="">たつき</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/12727" class="l" title="">立山秋航</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/429" class="l" title="吉崎观音">吉崎観音</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/26628" class="l" title="田边茂范">田辺茂範</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/28025" class="l" title="白水优子">白水優子</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/28027" class="l" title="白水优子">伊佐佳久</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/28026" class="l" title="白水优子">石山智之</a></li> 
  <li><span class="tip">主题歌编曲: </span><a href="/person/15364" class="l" title="白水优子">大石昌良</a>、<a href="/person/27843" class="l" title="">R_Men_Soul</a></li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/15364" class="l" title="">大石昌良</a>、<a href="/person/27286" class="l" title="">みゆはん</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/15364" class="l" title="">大石昌良</a>、<a href="/person/27286" class="l" title="">みゆはん</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/27286" class="l" title="">みゆはん</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/23001" class="l" title="">阿部信行</a></li> 
  <li><span class="tip">制片人: </span><a href="/person/28267" class="l" title="福原庆匡">福原慶匡</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/19310" class="l" title="ヤオヨロズ株式会社">ヤオヨロズ</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/26629" class="l" title="">たつき</a></li> 
  <li><span class="tip">别名: </span>兽娘动物园</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>萌兽之友</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>动物好友</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>兽娘小伙伴</li> 
  <li><span class="tip">官方网站: </span>http://kemono-friends.jp/</li> 
  <li><span class="tip">播放电视台: </span>テレビ東京</li> 
  <li><span class="tip">其他电视台: </span>テレビ大阪 / テレビ愛知 / AT-X</li> 
  <li><span class="tip">播放结束: </span>2017年3月28日</li> 
  <li><span class="tip">Copyright: </span>&copy;けものフレンズプロジェクトA</li> 
  <li><span class="tip">原作: </span>けものフレンズプロジェクト</li> 
  <li><span class="tip">概念设定: </span>吉崎観音</li> 
  <li><span class="tip">制作: </span>けものフレンズプロジェクトA</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>