<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>One Room</title> 
 </head> 
 <body> 
  <h1>One Room</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月11日</li> 
  <li><span class="tip">放送星期: </span>星期三</li> 
  <li><span class="tip">原作: </span><a href="/person/26697" class="l" title="">スマイラルレコード</a></li> 
  <li><span class="tip">导演: </span><a href="/person/26587" class="l" title="佐久间贵史" rel="v:directedBy">佐久間貴史</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/26588" class="l" title="霜井仓星">霜井蒼星</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/26587" class="l" title="佐久间贵史">佐久間貴史</a>、<a href="/person/26589" class="l" title="佐久间贵史">高杉旭</a>、<a href="/person/515" class="l" title="佐久间贵史">上田慎一郎</a></li> 
  <li><span class="tip">演出: </span><a href="/person/26587" class="l" title="佐久间贵史">佐久間貴史</a>、<a href="/person/26590" class="l" title="佐久间贵史">藤木俊史</a>、<a href="/person/515" class="l" title="佐久间贵史">上田慎一郎</a></li> 
  <li><span class="tip">音乐: </span>山田知広(<a href="/person/8984" class="l" title="">yamazo</a>)</li> 
  <li><span class="tip">人物原案: </span><a href="/person/5786" class="l" title="监督">カントク</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/2588" class="l" title="监督">奥田泰弘</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/13300" class="l" title="松本浩树">松本浩樹</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/11855" class="l" title="">日比智恵子</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/2588" class="l" title="">奥田泰弘</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/26591" class="l" title="崎本小百合">崎本さゆり</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/25359" class="l" title="">難波史</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/2352" class="l" title="">立石弥生</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/25924" class="l" title="台风Graphics">颱風グラフィックス</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/26401" class="l" title="台风Graphics">小山真由子</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/26587" class="l" title="佐久间贵史">佐久間貴史</a>、<a href="/person/515" class="l" title="佐久间贵史">上田慎一郎</a></li> 
  <li><span class="tip">总导演: </span><a href="/person/26587" class="l" title="佐久间贵史">佐久間貴史</a></li> 
  <li><span class="tip">官方网站: </span>http://oneroom-anime.com/</li> 
  <li><span class="tip">播放电视台: </span>TOKYO MX</li> 
  <li><span class="tip">其他电视台: </span>サンテレビ</li> 
  <li><span class="tip">播放结束: </span>2017年3月29日</li> 
  <li><span class="tip">Copyright: </span>&copy;SMIRAL/One Room製作委員会</li> 
  <li><span class="tip">故事原案: </span>真野英二</li> 
  <li><span class="tip">综合演出: </span>佐久間貴史</li> 
  <li><span class="tip">剪辑: </span>徳田俊</li> 
  <li><span class="tip">音响: </span>神南スタジオ</li> 
  <li><span class="tip">音乐制作: </span>F・M・F</li> 
  <li><span class="tip">制作: </span>One Room製作委員会</li> 
  <li><span class="tip">制片人: </span>後藤裕、鈴木良兵、鈴木脩一</li> 
  <li><span class="tip">企画: </span>菊田昌史、櫻井崇</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>