<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>小林家的龙女仆</title> 
 </head> 
 <body> 
  <h1>小林家的龙女仆</h1> 
  <h3>番剧介绍</h3>
  <li><span class="tip">中文名: </span>小林家的龙女仆</li>
  <li><span class="tip">话数: </span>13</li> 
  <li><span class="tip">放送开始: </span>2017年1月11日</li> 
  <li><span class="tip">放送星期: </span>星期三</li> 
  <li><span class="tip">原作: </span><a href="/person/14815" class="l" title="酷教信徒">クール教信者</a>（双葉社「月刊アクション」連載中）</li> 
  <li><span class="tip">导演: </span><a href="/person/669" class="l" title="酷教信徒" rel="v:directedBy">武本康弘</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/63" class="l" title="酷教信徒">志茂文彦</a>、<a href="/person/2883" class="l" title="酷教信徒">山田由香</a>、<a href="/person/669" class="l" title="酷教信徒">武本康弘</a>、<a href="/person/26792" class="l" title="酷教信徒">西川昌志</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/12657" class="l" title="酷教信徒">小川太一</a>、<a href="/person/25775" class="l" title="泽真平">澤真平</a>、<a href="/person/3687" class="l" title="泽真平">山田尚子</a>、<a href="/person/12660" class="l" title="北之原孝将">北之原孝將</a>、<a href="/person/2227" class="l" title="北之原孝将">木上益治</a>、<a href="/person/15808" class="l" title="北之原孝将">山村卓也</a>、<a href="/person/11258" class="l" title="北之原孝将">石立太一</a>、<a href="/person/669" class="l" title="北之原孝将">武本康弘</a>、<a href="/person/1913" class="l" title="北之原孝将">石原立也</a></li> 
  <li><span class="tip">演出: </span><a href="/person/25775" class="l" title="泽真平">澤真平</a>、<a href="/person/3687" class="l" title="泽真平">山田尚子</a>、<a href="/person/12660" class="l" title="北之原孝将">北之原孝將</a>、<a href="/person/2227" class="l" title="北之原孝将">木上益治</a>、<a href="/person/15808" class="l" title="北之原孝将">山村卓也</a>、<a href="/person/1498" class="l" title="北之原孝将">藤田春香</a>、<a href="/person/12657" class="l" title="北之原孝将">小川太一</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/383" class="l" title="北之原孝将">伊藤真澄</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/11898" class="l" title="门胁未来">門脇未来</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/2883" class="l" title="门胁未来">山田由香</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/11899" class="l" title="">渡邊美希子</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/12653" class="l" title="">米田侑加</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/12662" class="l" title="">丸木宣明</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/2032" class="l" title="">池田晶子</a>、<a href="/person/27799" class="l" title="丸子达就">丸子達就</a>、<a href="/person/27397" class="l" title="冈村公平">岡村公平</a>、<a href="/person/27396" class="l" title="冈村公平">角田有希</a>、<a href="/person/3416" class="l" title="冈村公平">西屋太志</a>、<a href="/person/11898" class="l" title="门胁未来">門脇未来</a>、<a href="/person/12662" class="l" title="">丸木宣明</a>、<a href="/person/3415" class="l" title="">植野千世子</a>、<a href="/person/3173" class="l" title="">池田和美</a>、<a href="/person/27395" class="l" title="明见裕子">明見裕子</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/25660" class="l" title="">浦彰宏</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/3418" class="l" title="秋竹齐一">秋竹斉一</a>(小物設定)</li> 
  <li><span class="tip">原画: </span><a href="/person/27800" class="l" title="浦田芳宪">浦田芳憲</a>、<a href="/person/23459" class="l" title="佐藤达也">佐藤達也</a>、<a href="/person/23552" class="l" title="濑崎利惠">瀬崎利恵</a>、<a href="/person/25775" class="l" title="泽真平">澤真平</a>、<a href="/person/3418" class="l" title="秋竹齐一">秋竹斉一</a>、<a href="/person/3417" class="l" title="高桥真梨子">高橋真梨子</a>、<a href="/person/3414" class="l" title="高桥博行">高橋博行</a>、<a href="/person/28276" class="l" title="">佐藤知美</a>、<a href="/person/28600" class="l" title="">羽根邦広</a>、<a href="/person/20737" class="l" title="高瀬亚贵子">高瀬亜貴子</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/8987" class="l" title="">重村建吾</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/11169" class="l" title="">fh&aacute;na</a> / ちょろゴンず（トール(<a href="/person/15292" class="l" title="桑原由气">桑原由気</a>)、カンナ(<a href="/person/14918" class="l" title="长绳麻理亚">長縄まりあ</a>)、エルマ(<a href="/person/18087" class="l" title="高田忧希">高田憂希</a>)、ルコア(<a href="/person/10757" class="l" title="高桥未奈美">高橋未奈美</a>)）</li> 
  <li><span class="tip">製作: </span>ドラゴン生活向上委員会（<a href="/person/2481" class="l" title="京都动画">京都アニメーション</a>、<a href="/person/64" class="l" title="波丽佳音">ポニーキャニオン</a>、<a href="/person/57" class="l" title="Lantis">ランティス</a>、<a href="/person/28583" class="l" title="">ABCアニメーション</a>）</li> 
  <li><span class="tip">音响监督: </span><a href="/person/29" class="l" title="鹤冈阳太">鶴岡陽太</a></li> 
  <li><span class="tip">制片人: </span><a href="/person/2030" class="l" title="斋藤滋">斎藤滋</a>、<a href="/person/12408" class="l" title="">中村伸一</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/57" class="l" title="Lantis">ランティス</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/2481" class="l" title="京都动画">京都アニメーション</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/669" class="l" title="京都动画">武本康弘</a></li> 
  <li><span class="tip">别名: </span>小林家的妹抖龙</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>小林家的女仆龙</li> 
  <li><span class="tip">官方网站: </span>http://maidragon.jp/</li> 
  <li><span class="tip">播放电视台: </span>ABC朝日放送</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX1 / テレビ愛知 / BS11</li> 
  <li><span class="tip">播放结束: </span>2017年4月5日</li> 
  <li><span class="tip">Copyright: </span>&copy; クール教信者・双葉社／ドラゴン生活向上委員会</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>