<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>混沌之子</title> 
 </head> 
 <body> 
  <h1>混沌之子</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>混沌之子</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月11日</li> 
  <li><span class="tip">放送星期: </span>星期三</li> 
  <li><span class="tip">原作: </span><a href="/person/417" class="l" title="志仓千代丸">志倉千代丸</a>／<a href="/person/7946" class="l" title="美吉斯">MAGES.</a>／CHIYOMARU STUDIO、<a href="/person/6797" class="l" title="">梅原英司</a></li> 
  <li><span class="tip">导演: </span><a href="/person/11738" class="l" title="美吉斯" rel="v:directedBy">神保昌登</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/11738" class="l" title="美吉斯">神保昌登</a>、<a href="/person/6028" class="l" title="美吉斯">林直孝</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/11738" class="l" title="美吉斯">神保昌登</a>、<a href="/person/1721" class="l" title="西田正义">西田正義</a>、<a href="/person/22963" class="l" title="西田正义">木村泰大</a>、<a href="/person/13927" class="l" title="西田正义">玉村仁</a>、<a href="/person/3264" class="l" title="西田正义">神谷智大</a>、<a href="/person/172" class="l" title="西田正义">渡部高志</a>、<a href="/person/14240" class="l" title="西田正义">二瓶勇一</a></li> 
  <li><span class="tip">演出: </span><a href="/person/11738" class="l" title="西田正义">神保昌登</a>、<a href="/person/3255" class="l" title="日下直义">日下直義</a>、<a href="/person/3264" class="l" title="日下直义">神谷智大</a>、<a href="/person/22963" class="l" title="日下直义">木村泰大</a>、<a href="/person/26514" class="l" title="日下直义">丸山由太</a>、<a href="/person/26582" class="l" title="日下直义">板庇迪</a>、<a href="/person/12913" class="l" title="日下直义">高村雄太</a>、<a href="/person/918" class="l" title="山口赖房">山口頼房</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/6439" class="l" title="">onoken</a>・<a href="/person/7337" class="l" title="阿保刚">阿保剛</a></li> 
  <li><span class="tip">人物原案: </span><a href="/person/135" class="l" title="佐佐木睦美">ささきむつみ</a>・<a href="/person/10793" class="l" title="">松尾ゆきひろ</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/14243" class="l" title="">山吉一幸</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/11738" class="l" title="">神保昌登</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/25179" class="l" title="栗林大贵">栗林大貴</a>・<a href="/person/25180" class="l" title="畠山佑贵">畠山佑貴</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/18955" class="l" title="平井麻实">平井麻実</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/14243" class="l" title="">山吉一幸</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/3184" class="l" title="木下勇喜">木下ゆうき</a>、<a href="/person/14242" class="l" title="">平田和也</a>、<a href="/person/3790" class="l" title="">氏家嘉宏</a>、<a href="/person/14243" class="l" title="">山吉一幸</a>、<a href="/person/25421" class="l" title="">前田義宏</a>、<a href="/person/14225" class="l" title="出野喜则">出野喜則</a>、<a href="/person/2698" class="l" title="出野喜则">柴田志朗</a>、<a href="/person/12762" class="l" title="">村上竜之介</a>、<a href="/person/11706" class="l" title="饭饲一幸">飯飼一幸</a>、<a href="/person/3752" class="l" title="佐野绘里">さのえり</a>、<a href="/person/784" class="l" title="胜亦祥视">勝亦祥視</a>、<a href="/person/21091" class="l" title="胜亦祥视">小川一郎</a>、<a href="/person/27342" class="l" title="胜亦祥视">武田芽衣</a>、<a href="/person/27890" class="l" title="">のりみそのみ</a>、<a href="/person/28278" class="l" title="">藁科将人</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/25181" class="l" title="杉山大树">杉山大樹</a></li> 
  <li><span class="tip">监修: </span><a href="/person/7946" class="l" title="美吉斯">MAGES.</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/3790" class="l" title="美吉斯">氏家嘉宏</a>・大槻南雄</li> 
  <li><span class="tip">背景美术: </span><a href="/person/5992" class="l" title="美吉斯">草薙</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/11745" class="l" title="">坪根健太郎</a></li> 
  <li><span class="tip">主题歌编曲: </span><a href="/person/10760" class="l" title="">悠木真一</a></li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/417" class="l" title="志仓千代丸">志倉千代丸</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/417" class="l" title="志仓千代丸">志倉千代丸</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/5882" class="l" title="伊藤加奈子">いとうかなこ</a> / <a href="/person/8401" class="l" title="铃木木乃美">鈴木このみ</a></li> 
  <li><span class="tip">企画: </span><a href="/person/18957" class="l" title="伊藤加奈子">工藤大丈</a></li> 
  <li><span class="tip">製作: </span><a href="/person/18956" class="l" title="伊藤加奈子">堀内大示</a>、<a href="/person/417" class="l" title="志仓千代丸">志倉千代丸</a>、<a href="/person/18958" class="l" title="志仓千代丸">金子逸人</a>、<a href="/person/12368" class="l" title="">武智恒雄</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/11721" class="l" title="土屋雅纪">土屋雅紀</a></li> 
  <li><span class="tip">音响: </span><a href="/person/25182" class="l" title="Glovision">グロービジョン</a></li> 
  <li><span class="tip">音效: </span><a href="/person/21457" class="l" title="仓桥裕宗">倉橋裕宗</a></li> 
  <li><span class="tip">制片人: </span><a href="/person/18958" class="l" title="仓桥裕宗">金子逸人</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/3229" class="l" title="">5pb.</a></li> 
  <li><span class="tip">友情協力: </span><a href="/person/7946" class="l" title="美吉斯">MAGES.</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/6352" class="l" title="">SILVER LINK.</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/11448" class="l" title="纲头瑛子">綱頭瑛子</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/3264" class="l" title="纲头瑛子">神谷智大</a>、<a href="/person/11738" class="l" title="纲头瑛子">神保昌登</a></li> 
  <li><span class="tip">3DCG: </span><a href="/person/15073" class="l" title="Tri-Slash">トライスラッシュ</a></li> 
  <li><span class="tip">别名: </span>カオチャ</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>カオスチャイルド</li> 
  <li><span class="tip" style="visibility:hidden;">别名: </span>C;C</li> 
  <li><span class="tip">官方网站: </span>http://chaoschildanime.com/</li> 
  <li><span class="tip">播放电视台: </span>AT-X</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX / サンテレビ / チバテレビ / テレビ神奈川 / テレビ埼玉 / KBS京都 / BS11</li> 
  <li><span class="tip">播放结束: </span>2017年3月29日</li> 
  <li><span class="tip">Copyright: </span>&copy;2017 MAGES./KADOKAWA/CHAOS;CHILD製作委員会</li> 
  <li><span class="tip">剧本监修: </span>林直孝・梅原英司・松原達也・松本裕介</li> 
  <li><span class="tip">Di-Sword设计: </span>麦谷興一（CHOCO）</li> 
  <li><span class="tip">动作监督: </span>米田紘</li> 
  <li><span class="tip">CG 导演: </span>北村浩久</li> 
  <li><span class="tip">2D设计: </span>柏原進・新谷優子</li> 
  <li><span class="tip">摄影: </span>旭プロダクション</li> 
  <li><span class="tip">制作: </span>CHAOS;CHILD製作委員会</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>