<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>超级恋人 第二季</title> 
 </head> 
 <body> 
  <h1>超级恋人 第二季</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>超级恋人 第二季</li> 
  <li><span class="tip">话数: </span>10</li> 
  <li><span class="tip">放送开始: </span>2017年1月12日</li> 
  <li><span class="tip">放送星期: </span>星期四</li> 
  <li><span class="tip">原作: </span><a href="/person/8483" class="l" title="阿部美幸">あべ美幸</a></li> 
  <li><span class="tip">导演: </span><a href="/person/2148" class="l" title="阿部美幸" rel="v:directedBy">石平信司</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/14197" class="l" title="大场小百合">大場小ゆり</a>、<a href="/person/2883" class="l" title="大场小百合">山田由香</a>、<a href="/person/14370" class="l" title="大场小百合">中村能子</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/2148" class="l" title="大场小百合">石平信司</a>、<a href="/person/2737" class="l" title="齐藤哲人">斉藤哲人</a>、<a href="/person/336" class="l" title="白旗伸朗">ボブ白旗</a>、<a href="/person/1447" class="l" title="西本由纪夫">西本由紀夫</a>、<a href="/person/23345" class="l" title="渡部稳宽">渡部穏寛</a></li> 
  <li><span class="tip">演出: </span><a href="/person/11324" class="l" title="渡部稳宽">奥野浩行</a>、<a href="/person/13467" class="l" title="渡部稳宽">白石道太</a>、<a href="/person/26429" class="l" title="渡部稳宽">中村近世</a>、<a href="/person/21696" class="l" title="渡部稳宽">岩本保雄</a>、<a href="/person/2866" class="l" title="阿部达也">阿部達也</a>、<a href="/person/23345" class="l" title="渡部稳宽">渡部穏寛</a>、<a href="/person/26584" class="l" title="门田英彦">門田英彦</a>、<a href="/person/336" class="l" title="白旗伸朗">ボブ白旗</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/11068" class="l" title="白旗伸朗">片山修志</a>、<a href="/person/21365" class="l" title="加藤贤二">加藤賢二</a>、<a href="/person/1120" class="l" title="加藤贤二">高梨康治</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/20870" class="l" title="泷原美树">瀧原美樹</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/14370" class="l" title="泷原美树">中村能子</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/12725" class="l" title="泷原美树">三宅昌和</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/25183" class="l" title="">桂木今里</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/11357" class="l" title="">中村深雪</a>、<a href="/person/20870" class="l" title="泷原美树">瀧原美樹</a>、<a href="/person/90" class="l" title="泷原美树">工藤裕加</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/27021" class="l" title="泷原美树">伊藤智子</a>、<a href="/person/27026" class="l" title="">本多みゆき</a>、<a href="/person/27795" class="l" title="">吉田美和</a>、<a href="/person/27798" class="l" title="齐藤温子">齋藤温子</a>、<a href="/person/28137" class="l" title="手岛勇人">手島勇人</a>、<a href="/person/28604" class="l" title="冈户智凯">岡戸智凱</a></li> 
  <li><span class="tip">原画: </span><a href="/person/1074" class="l" title="室井富美江">室井ふみえ</a>、<a href="/person/276" class="l" title="中岛敦子">中嶋敦子</a>、<a href="/person/3474" class="l" title="中岛忠二">なかじまちゅうじ</a>、<a href="/person/2737" class="l" title="齐藤哲人">斉藤哲人</a>、<a href="/person/27816" class="l" title="">杉田柊</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/13835" class="l" title="">松村正宏</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/6745" class="l" title="秦昌二">はたしょう二</a></li> 
  <li><span class="tip">音响: </span><a href="/person/6092" class="l" title="">ダックスプロダクション</a></li> 
  <li><span class="tip">音效: </span><a href="/person/12381" class="l" title="">出雲範子</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/228" class="l" title="日本哥伦比亚">日本コロムビア</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/181" class="l" title="丹尼动画">Studio DEEN</a></li> 
  <li><span class="tip">副导演: </span><a href="/person/23345" class="l" title="渡部稳宽">渡部穏寛</a></li> 
  <li><span class="tip">OP・ED 分镜: </span><a href="/person/23345" class="l" title="渡部稳宽">渡部穏寛</a></li> 
  <li><span class="tip">别名: </span>SUPER LOVERS 2nd season</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>