<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>珈百璃的堕落</title> 
 </head> 
 <body> 
  <h1>珈百璃的堕落</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>珈百璃的堕落</li> 
  <li><span class="tip">话数: </span>12</li> 
  <li><span class="tip">放送开始: </span>2017年1月9日</li> 
  <li><span class="tip">放送星期: </span>星期一</li> 
  <li><span class="tip">原作: </span><a href="/person/18899" class="l" title="">うかみ</a></li> 
  <li><span class="tip">导演: </span><a href="/person/1294" class="l" title="" rel="v:directedBy">太田雅彦</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/2639" class="l" title="青岛崇">あおしまたかし</a>、<a href="/person/3370" class="l" title="青岛崇">子安秀明</a>、<a href="/person/13891" class="l" title="青岛崇">杉原研二</a>、<a href="/person/2903" class="l" title="鸿野贵光">鴻野貴光</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/3266" class="l" title="上坪亮树">上坪亮樹</a>、<a href="/person/26669" class="l" title="上坪亮树">岩田和也</a>、<a href="/person/26194" class="l" title="上坪亮树">荒井省吾</a>、<a href="/person/14384" class="l" title="上坪亮树">原口浩</a>、<a href="/person/26570" class="l" title="上坪亮树">矢花馨</a>、<a href="/person/1294" class="l" title="上坪亮树">太田雅彦</a>、<a href="/person/25757" class="l" title="志村宏明">誌村宏明</a>、<a href="/person/23597" class="l" title="三原武宪">三原武憲</a>、<a href="/person/26000" class="l" title="儿谷直树">児谷直樹</a>、<a href="/person/28000" class="l" title="角松俱乐部">角松倶楽部</a></li> 
  <li><span class="tip">演出: </span><a href="/person/3266" class="l" title="上坪亮树">上坪亮樹</a>、<a href="/person/26194" class="l" title="上坪亮树">荒井省吾</a>、<a href="/person/14384" class="l" title="上坪亮树">原口浩</a>、<a href="/person/26570" class="l" title="上坪亮树">矢花馨</a>、<a href="/person/14203" class="l" title="上坪亮树">守田芸成</a>、<a href="/person/23201" class="l" title="野木森达哉">野木森達哉</a>、<a href="/person/26534" class="l" title="堂川节武">堂川セツム</a>、<a href="/person/317" class="l" title="远藤彻哉">えんどうてつや</a>、<a href="/person/28000" class="l" title="角松俱乐部">角松倶楽部</a>、<a href="/person/28247" class="l" title="佐佐木达也">佐々木達也</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/3060" class="l" title="三泽康广">三澤康広</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/12790" class="l" title="熊谷胜弘">熊谷勝弘</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/2639" class="l" title="青岛崇">あおしまたかし</a></li> 
  <li><span class="tip">美术监督: </span><a href="/person/12725" class="l" title="青岛崇">三宅昌和</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/25278" class="l" title="青岛崇">真壁源太</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/12790" class="l" title="熊谷胜弘">熊谷勝弘</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/28260" class="l" title="">佐藤このみ</a>、<a href="/person/27180" class="l" title="曾我笃史">曾我篤史</a>、<a href="/person/15783" class="l" title="曾我笃史">山野雅明</a></li> 
  <li><span class="tip">原画: </span><a href="/person/6708" class="l" title="中岛千明">中島千明</a>、<a href="/person/14352" class="l" title="三谷畅之">三谷暢之</a>、<a href="/person/14513" class="l" title="三谷畅之">狩野正志</a>、<a href="/person/22962" class="l" title="三谷畅之">秋山泰彦</a>、<a href="/person/14844" class="l" title="冲田博文">沖田博文</a>、<a href="/person/15783" class="l" title="冲田博文">山野雅明</a></li> 
  <li><span class="tip">剪辑: </span><a href="/person/27335" class="l" title="小野寺绘美">小野寺絵美</a></li> 
  <li><span class="tip">音响监督: </span><a href="/person/1395" class="l" title="虾名恭范">蝦名恭範</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/6305" class="l" title="动画工房">動画工房</a></li> 
  <li><span class="tip">OPED 分镜: </span><a href="/person/208" class="l" title="动画工房">大隈孝晴</a>、<a href="/person/1294" class="l" title="动画工房">太田雅彦</a></li> 
  <li><span class="tip">别名: </span>废天使加百列</li> 
  <li><span class="tip">官方网站: </span>http://gabdro.com/</li> 
  <li><span class="tip">播放电视台: </span>AT-X</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX / サンテレビ / BS11 / KBS京都 / 岐阜放送 / 三重テレビ放送 / 静岡放送</li> 
  <li><span class="tip">播放结束: </span>2017年3月27日</li> 
  <li><span class="tip">Copyright: </span>&copy;2016 うかみ／KADOKAWA　アスキー・メディアワークス／ガヴリールドロップアウト製作委員会</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p>
  <p>{{Data[1]}}</p>
  <p>{{Data[2]}}</p>
  <p>{{Data[3]}}</p> 
 </body>
</html>