<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>黑白来看守所</title> 
 </head> 
 <body> 
  <h1>黑白来看守所</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>黑白来看守所</li> 
  <li><span class="tip">话数: </span>13</li> 
  <li><span class="tip">放送开始: </span>2016年10月4日</li> 
  <li><span class="tip">放送星期: </span>星期二</li> 
  <li><span class="tip">原作: </span><a href="/person/17527" class="l" title="">双又翔</a></li> 
  <li><span class="tip">导演: </span><a href="/person/1280" class="l" title="" rel="v:directedBy">高松信司</a></li> 
  <li><span class="tip">脚本: </span><a href="/person/12061" class="l" title="广田光毅">広田光毅</a>、<a href="/person/26089" class="l" title="广田光毅">望月真里子</a>、<a href="/person/14473" class="l" title="广田光毅">入江信吾</a>、<a href="/person/13765" class="l" title="广田光毅">坪田文</a></li> 
  <li><span class="tip">分镜: </span><a href="/person/900" class="l" title="佐山圣子">佐山聖子</a>、<a href="/person/1280" class="l" title="佐山圣子">高松信司</a>、<a href="/person/3206" class="l" title="小野胜巳">小野勝巳</a>、<a href="/person/1097" class="l" title="江上洁">江上潔</a>、<a href="/person/15850" class="l" title="吉泽俊一">吉沢俊一</a>、<a href="/person/1570" class="l" title="吉泽俊一">佐藤真人</a>、<a href="/person/1447" class="l" title="西本由纪夫">西本由紀夫</a>、<a href="/person/316" class="l" title="西泽晋">西澤晋</a>、<a href="/person/21634" class="l" title="西泽晋">石川俊介</a>、<a href="/person/1722" class="l" title="西泽晋">小原正和</a></li> 
  <li><span class="tip">演出: </span><a href="/person/1722" class="l" title="西泽晋">小原正和</a>、<a href="/person/15850" class="l" title="吉泽俊一">吉沢俊一</a>、<a href="/person/1447" class="l" title="西本由纪夫">西本由紀夫</a>、<a href="/person/1677" class="l" title="松本佳久">まつもとよしひさ</a>、<a href="/person/13467" class="l" title="松本佳久">白石道太</a>、<a href="/person/11955" class="l" title="松本佳久">小野田雄亮</a>、<a href="/person/19160" class="l" title="松本佳久">横田一平</a>、<a href="/person/13485" class="l" title="大和直道">ヤマトナオミチ</a>、<a href="/person/26568" class="l" title="大和直道">清水一伸</a>、<a href="/person/26716" class="l" title="高桥英俊">高橋英俊</a>、<a href="/person/21634" class="l" title="高桥英俊">石川俊介</a></li> 
  <li><span class="tip">音乐: </span><a href="/person/3581" class="l" title="藤泽健至">藤澤健至</a></li> 
  <li><span class="tip">人物设定: </span><a href="/person/25300" class="l" title="户谷贤都">戸谷賢都</a></li> 
  <li><span class="tip">系列构成: </span><a href="/person/12061" class="l" title="广田光毅">広田光毅</a></li> 
  <li><span class="tip">色彩设计: </span><a href="/person/24041" class="l" title="秋元由纪">秋元由紀</a></li> 
  <li><span class="tip">总作画监督: </span><a href="/person/25300" class="l" title="户谷贤都">戸谷賢都</a></li> 
  <li><span class="tip">作画监督: </span><a href="/person/25300" class="l" title="户谷贤都">戸谷賢都</a>、<a href="/person/26238" class="l" title="大久保义之">大久保義之</a>、<a href="/person/28154" class="l" title="小畑贤">小畑賢</a></li> 
  <li><span class="tip">摄影监督: </span><a href="/person/14060" class="l" title="">志村豪</a></li> 
  <li><span class="tip">道具设计: </span><a href="/person/3095" class="l" title="大河广行">大河広行</a></li> 
  <li><span class="tip">原画: </span><a href="/person/14541" class="l" title="泷山真哲">滝山真哲</a>、<a href="/person/12195" class="l" title="">杉江敏治</a></li> 
  <li><span class="tip">主题歌编曲: </span><a href="/person/27810" class="l" title="">ハシグチカナデリヤ</a>、<a href="/person/27812" class="l" title="加藤佑介">加藤祐介</a></li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/27810" class="l" title="">ハシグチカナデリヤ</a>、<a href="/person/27812" class="l" title="加藤佑介">加藤祐介</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/27811" class="l" title="">The Super Ball</a>、<a href="/person/27812" class="l" title="加藤佑介">加藤祐介</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/27810" class="l" title="">ハシグチカナデリヤ</a>、<a href="/person/27811" class="l" title="">The Super Ball</a>、<a href="/person/13932" class="l" title="上村佑翔">上村祐翔</a>、<a href="/person/4782" class="l" title="柿原彻也">柿原徹也</a>、<a href="/person/23309" class="l" title="汐崎艾伦">汐崎アイル</a>、<a href="/person/20365" class="l" title="小林大纪">小林大紀</a>、<a href="/person/3868" class="l" title="关智一">関智一</a></li> 
  <li><span class="tip">製作: </span>南波刑務所更生委員会（<a href="/person/9405" class="l" title="德间日本通讯">徳間ジャパンコミュニケーションズ</a>、NHN <a href="/person/17523" class="l" title="">comico</a>、<a href="/person/722" class="l" title="">NAS</a>、<a href="/person/811" class="l" title="">サテライト</a>、クランチロール、<a href="/person/6092" class="l" title="">ダックスプロダクション</a>、GP MEDIA JAPAN、<a href="/person/28606" class="l" title="索尼音乐传媒">ソニー・ミュージックコミュニケーションズ</a>、ネルケプランニング）</li> 
  <li><span class="tip">音响监督: </span><a href="/person/1280" class="l" title="索尼音乐传媒">高松信司</a></li> 
  <li><span class="tip">音效: </span><a href="/person/28055" class="l" title="索尼音乐传媒">八十正太</a></li> 
  <li><span class="tip">音乐制作: </span><a href="/person/9405" class="l" title="德间日本通讯">徳間ジャパンコミュニケーションズ</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/811" class="l" title="">サテライト</a></li> 
  <li><span class="tip">美术设计: </span><a href="/person/11640" class="l" title="高桥麻穗">高橋麻穂</a></li> 
  <li><span class="tip">官方网站: </span>http://nanbaka.tv/</li> 
  <li><span class="tip">播放电视台: </span>MBS</li> 
  <li><span class="tip">其他电视台: </span>TOKYO MX / BS11</li> 
  <li><span class="tip">播放结束: </span>2016年12月27日</li> 
  <li><span class="tip">Copyright: </span>&copy; 双又翔/comico/南波刑務所更生委員会</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>