<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>暗芝居 第四季</title> 
 </head> 
 <body> 
  <h1>暗芝居 第四季</h1> 
  <h3>番剧介绍</h3> 
  <li><span class="tip">中文名: </span>暗芝居 第四季</li> 
  <li><span class="tip">话数: </span>13</li> 
  <li><span class="tip">放送开始: </span>2017年1月15日</li> 
  <li><span class="tip">放送星期: </span>星期日</li> 
  <li><span class="tip">导演: </span><a href="/person/27067" class="l" title="" rel="v:directedBy">兼子昌也</a> (ILCA)</li> 
  <li><span class="tip">脚本: </span><a href="/person/19544" class="l" title="">熊本浩武</a></li> 
  <li><span class="tip">原画: </span><a href="/person/23982" class="l" title="">西川伸司</a>、工藤稜、三俣亜由喜</li> 
  <li><span class="tip">主题歌作曲: </span><a href="/person/19953" class="l" title="">焚吐</a></li> 
  <li><span class="tip">主题歌作词: </span><a href="/person/19953" class="l" title="">焚吐</a></li> 
  <li><span class="tip">主题歌演出: </span><a href="/person/19953" class="l" title="">焚吐</a></li> 
  <li><span class="tip">动画制作: </span><a href="/person/19349" class="l" title="株式会社ILCA">ILCA</a></li> 
  <li><span class="tip">官方网站: </span>http://www.tv-tokyo.co.jp/anime/yamishibai/</li> 
  <li><span class="tip">播放电视台: </span>テレビ東京</li> 
  <li><span class="tip">其他电视台: </span>AT-X</li> 
  <li><span class="tip">播放结束: </span>2017年3月26日</li> 
  <li><span class="tip">Copyright: </span>&copy;「闇芝居」製作委員会 2017</li> 
  <li><span class="tip">企划: </span>山川典夫 (テレビ東京)、岩﨑拓矢(ILCA)</li> 
  <li><span class="tip">制片人: </span>細谷伸之(テレビ東京) 、広瀬基樹(ILCA)</li> 
  <li><span class="tip">製作: </span>「闇芝居」製作委員会</li> 
  <li><span class="tip">主题曲: </span>焚吐「夢負い人」 (Being)</li> 
  <h3>您可能还会喜欢...</h3> 
  <p>{{Data[0]}}</p> 
  <p>{{Data[1]}}</p> 
  <p>{{Data[2]}}</p> 
  <p>{{Data[3]}}</p>  
 </body>
</html>