<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>RecommendDemo</title> 
 </head>
 <body>
    <span class="tip rr">本季度共 <strong>20</strong> 部番组，今日上映 <strong>5</strong> 部。共 6666 人收看。</span>

    <h1>每日放送 <small class="blue">/ 2017年1月1日 星期日</small></h1> 
   </div> 
   <table border="1" cellpadding="10"> 
    <tbody>
     <tr> 
      <td> <h3>星期一</h3> </td> 
      <td> <h3>星期二</h3> </td> 
      <td> <h3>星期三</h3> </td> 
      <td> <h3>星期四</h3> </td> 
      <td> <h3>星期五</h3> </td> 
      <td> <h3>星期六</h3> </td> 
      <td> <h3>星期日</h3> </td> 
     </tr> 
     <tr> 
      <td><p><a href="/bangumi/5793" class="nav">珈百璃的堕落</a></p></td> 
      <td><p><a href="/bangumi/5797" class="nav">Hand Shakers</a></p></td> 
      <td><p><a href="/bangumi/5796" class="nav">兽娘动物园</a></p></td> 
      <td><p><a href="/bangumi/5803" class="nav">SUPER LOVERS 第二季</a></p></td> 
      <td><p><a href="/bangumi/5778" class="nav">风夏</a></p></td> 
      <td><p><a href="/bangumi/5806" class="nav">Rewrite 2nd Season</a></p></td> 
      <td><p><a href="/bangumi/5789" class="nav">情热传说 the X 第二季</a></p></td> 
     </tr> 
     <tr> 
      <td><p><a href="/bangumi/5832" class="nav">暗芝居 第四季</a></p></td> 
      <td><p><a href="/bangumi/5795" class="nav">ACCA13区监察课</a></p></td> 
      <td><p><a href="/bangumi/5798" class="nav">One Room</a></p></td> 
      <td></td> 
      <td><p><a href="/bangumi/5776" class="nav">URARA迷路帖</a></p></td> 
      <td></td> 
      <td><p><a href="/bangumi/5788" class="nav">小魔女学院</a></p></td> 
     </tr> 
     <tr> 
      <td></td> 
      <td><p><a href="/bangumi/5809" class="nav">黑白来看守所 第二季</a></p></td> 
      <td><p><a href="/bangumi/5773" class="nav">秋叶原之旅 THE ANIMATION</a></p></td> 
      <td></td> 
      <td><p><a href="/bangumi/5774" class="nav">清恋 SEIREN</a></p></td> 
      <td></td> 
      <td><p><a href="/bangumi/5786" class="nav">猫咪日常</a></p></td> 
     </tr> 
     <tr> 
      <td></td> 
      <td></td> 
      <td><p><a href="/bangumi/5802" class="nav">CHAOS;CHILD</a></p></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td><p><a href="/bangumi/5790" class="nav">宇宙警探elDLIVE</a></p></td> 
     </tr> 
     <tr> 
      <td></td> 
      <td></td> 
      <td><p><a href="/bangumi/5800" class="nav">小林家的龙女仆</a></p></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td><p><a href="/bangumi/5784" class="nav">锁链战记 赫克瑟塔斯之光</a></p></td> 
     </tr> 
    </tbody>
   </table> 
   <h1>为您推荐</h1>
   <p>{{Data[0]}}</p>
   <p>{{Data[1]}}</p>
   <p>{{Data[2]}}</p>
   <p>{{Data[3]}}</p>
  </div>
 </body>
</html>